<template>
    <!-- Modal -->
    <div class="modal fade" id="modalFormPart" tabindex="-1" aria-labelledby="modalFormPartLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <form @submit.prevent="submit" class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalFormPartLabel">Delete part</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="nameField" class="form-label">Name</label>
                        <input type="text" class="form-control" id="nameField" :disabled="!data.isEditable && data.part" v-model="form.name">
                        <div v-if="form.errors.name">{{ form.errors.name }}</div>
                    </div>
                    <div class="mb-3">
                        <label for="serialNumberField" class="form-label">Serial number</label>
                        <input type="text" class="form-control" id="serialNumberField" :disabled="!data.isEditable && data.part" v-model="form.serial_number">
                        <div v-if="form.errors.serial_number">{{ form.errors.serial_number }}</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success" :disabled="!data.isEditable && data.part">Save</button>
                </div>
            </form>
        </div>
    </div>
</template>

<script setup>
import {useForm} from "@inertiajs/vue3";
import {onMounted, reactive} from "vue";

const props = defineProps({
    data: {
        type: Object,
        default: null,
    },
});
const state = reactive({
    modalFormPart: null,
})

const form = useForm({
    name: "",
    serial_number: "",
    car_id: null,
});
const submit = () => (props.data.isEditable && props.data.part.id ? updatePart() : addPart());
const addPart = () => {
    form.post("/parts")
    state.modalFormPart.hide()
};
const updatePart = () => {
    form.put(`/parts/${props.data.part.id}`)
    state.modalFormPart.hide()
};

onMounted(() => {
    const modalFormPartEl = document.getElementById('modalFormPart')
    modalFormPartEl.addEventListener('hidden.bs.modal', event => {
        props.data.onClose()
    })
    console.log(props);
    state.modalFormPart = new bootstrap.Modal(modalFormPartEl, {})
    state.modalFormPart.show()
    const part = props.data ? props.data.part : null
    form.name = part ? part.name : '';
    form.serial_number = part ? part.serial_number : '';
    form.car_id = part ? part.car_id : null;
});
</script>
<style lang="scss" scoped></style>
