<template>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h3 class="mt-4">List of parts</h3>
        <div class="btn-toolbar mb-2 mb-md-0">
            <input type="text" @input="useFilter">
            <button @click="openForm({part: null, isEditable: true})" class="btn btn-sm btn-outline-secondary"><i class="bi bi-plus"></i> Create new
                Part
            </button>
        </div>
    </div>

    <div class="table-responsive" v-if="parts.length">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Part</th>
                <th scope="col">Serial Number</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="part in parts.filter(({name, serial_number}) => name.includes(state.filter) || (serial_number && serial_number.includes(state.filter)))"
                :key="part.id">
                <td>{{ part.id }}</td>
                <td>{{ part.name }}</td>
                <td>{{ part.serial_number }}</td>
                <td>
                    <button class="ms-2 btn btn-sm btn-outline-info" @click="openForm({part, isEditable: false})"><i
                        class="bi bi-eye-fill"/></button>
                    <button class="ms-2 btn btn-sm btn-outline-success" @click="openForm({part, isEditable: true})"><i
                        class="bi bi-pencil-fill"/></button>
                    <button type="button" class="ms-2 btn btn-sm btn-outline-danger" @click="openModal(part)"><i
                        class="bi bi-trash-fill"/></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div v-else class="alert alert-warning" role="alert">
        There are no parts listed.
        <button @click="openForm({part: null, isEditable: true})" class="btn btn-link alert-link">Add</button>
        the first part
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modalDeletePart" tabindex="-1" aria-labelledby="modalDeletePartLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalDeletePartLabel">Delete part</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete the part <b>{{ state.partToDelete?.name }}</b>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" @click="deletePart" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <PartForm v-if="state.data" :data="state.data"></PartForm>
</template>

<script setup>
import {useForm} from "@inertiajs/vue3";
import PartForm from "@/Pages/Part/Form.vue";
import {reactive, onMounted} from 'vue'

const props = defineProps({
    parts: {
        type: Array,
        default: () => [],
    },
    carId: {
        type: Number,
        default: null,
    },
});
const state = reactive({
    modalFormPart: null,
    modalDeletePart: null,
    partToDelete: null,
    partToCRUD: null,
    openToEdit: false,
    filter: '',
})

onMounted(() => {
    state.modalDeletePart = new bootstrap.Modal('#modalDeletePart', {})
})

function openForm({part, ...rest}) {
    console.log(this)
    let data = {
        part: {
            car_id: props.carId,
            ...part,
        },
        onClose: () => (state.data = null),
        ...rest
    }
    state.data = data;
    console.log(data);
}

function openModal(part) {
    state.partToDelete = part
    state.modalDeletePart.show()
}

const useFilter = (event) => {
    state.filter = event.target.value
}

const form = useForm({});

const deletePart = () => {
    form.delete(`/parts/${state.partToDelete.id}`);
    state.partToDelete = null;
    state.modalDeletePart.hide()
};

const headers = ["name", "serial_number"];
</script>
