<template>
    <AppLayout>
        <Header :title="car ? (isUpdating ? `Edit car - ${car.name}` : `Car detail - ${car.name}`) : `Create new car`">
            <div class="btn-toolbar mb-2 mb-md-0" v-if="!isUpdating && car">
                <Link :href="`/cars/${car.id}/edit`" class="btn btn-sm btn-outline-success"><i class="bi bi-pencil-fill"></i> Update car</Link>
            </div>
        </Header>
        <form @submit.prevent="submit">
            <div class="mb-3">
                <label for="nameField" class="form-label">Name</label>
                <input type="text" class="form-control" id="nameField" :disabled="!isUpdating && car" v-model="form.name">
                <div v-if="form.errors.name">{{ form.errors.name }}</div>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="isRegisteredField" :disabled="!isUpdating && car" v-model="form.is_registered">
                <label class="form-check-label" for="isRegisteredField">Is registered</label>
            </div>
            <div class="mb-3" v-if="form.is_registered">
                <label for="registrationNumberField" class="form-label">Registration number</label>
                <input type="text" class="form-control" id="registrationNumberField" :disabled="!isUpdating && car" v-model="form.registration_number">
                <div v-if="form.errors.registration_number">{{ form.errors.registration_number }}</div>
            </div>
            <button type="submit" class="btn btn-primary" :disabled="!isUpdating && car">Submit</button>
        </form>
        <Parts v-if="car" :parts="parts" :carId="car.id"></Parts>
    </AppLayout>
</template>

<script setup>
import {Link, useForm} from "@inertiajs/vue3";
import AppLayout from "@/Layouts/AppLayout.vue";
import Header from "@/Components/Header.vue";
import Parts from "@/Pages/Part/Index.vue";
import {onMounted} from "vue";

const props = defineProps({
    car: {
        type: Object,
        default: null,
    },
    parts: {
        type: Array,
        default: () => [],
    },
    isUpdating: {
        type: Boolean,
        default: false,
    },
});
const form = useForm({
    name: "",
    registration_number: "",
    is_registered: false,
});
const submit = () => (props.isUpdating ? updateCar() : addCar());
const addCar = () => form.post("/cars");
const updateCar = () => form.put(`/cars/${props.car.id}`);

onMounted(() => {
    form.name = props.car ? props.car.name : '';
    form.registration_number = props.car ? props.car.registration_number : '';
    form.is_registered = props.car ? props.car.is_registered : false;
});
</script>
<style lang="scss" scoped></style>
