<template>
    <AppLayout>
        <Header :title="`Cars ${state.filter}`">
            <div class="btn-toolbar mb-2 mb-md-0">
                <input type="text" @input="useFilter">
                <Link href="cars/create" class="btn btn-sm btn-outline-secondary"><i class="bi bi-plus"></i> Create new
                    Car
                </Link>
            </div>
        </Header>
        <div class="table-responsive" v-if="cars.length">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Car</th>
                    <th scope="col">Registration Number</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="car in cars.filter(({name, registration_number}) => name.includes(state.filter) || (registration_number && registration_number.includes(state.filter)))"
                    :key="car.id">
                    <td>{{ car.id }}</td>
                    <td>{{ car.name }}</td>
                    <td>{{ car.registration_number }}</td>
                    <td>
                        <Link class="ms-2 btn btn-sm btn-outline-info" :href="`cars/${car.id}`"><i
                            class="bi bi-eye-fill"/></Link>
                        <Link class="ms-2 btn btn-sm btn-outline-success" :href="`cars/${car.id}/edit`"><i
                            class="bi bi-pencil-fill"/></Link>
                        <button type="button" class="ms-2 btn btn-sm btn-outline-danger" @click="openModal(car)"><i
                            class="bi bi-trash-fill"/></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div v-else class="alert alert-warning" role="alert">
            There are no cars listed.
            <Link href="cars/create" class="alert-link">Add</Link>
            the first car
        </div>
        <!-- Modal -->
        <div class="modal fade" id="modalDeleteCar" tabindex="-1" aria-labelledby="modalDeleteCarLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalDeleteCarLabel">Delete car</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete the car <b>{{ state.carToDelete?.name }}</b>?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" @click="deleteCar" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </AppLayout>
</template>

<script setup>
import AppLayout from "@/Layouts/AppLayout.vue";
import {Link, useForm} from "@inertiajs/vue3";
import Header from "@/Components/Header.vue";
import {reactive, onMounted} from 'vue'

defineProps({
    cars: {
        type: Array,
        default: () => [],
    },
});
const state = reactive({
    modalDeleteCar: null,
    carToDelete: null,
    filter: '',
})

onMounted(() => {
    state.modalDeleteCar = new bootstrap.Modal('#modalDeleteCar', {})
})

function openModal(car) {
    state.carToDelete = car
    state.modalDeleteCar.show()
}

const useFilter = (event) => {
    state.filter = event.target.value
}

const form = useForm({});

const deleteCar = () => {
    form.delete(`cars/${state.carToDelete.id}`);
    state.carToDelete = null;
    state.modalDeleteCar.hide()
};

const headers = ["name", "registration_number"];
</script>
